[submodule "fallback-query"]
	path = fallback-query
	url = git@github.com:rafaeldefazio/fallback-query.git
[submodule "fallback-unknown"]
	path = fallback-unknown
	url = git@github.com:rafaeldefazio/fallback-unknown.git
[submodule "skill-configuration"]
	path = skill-configuration
	url = git@github.com:rafaeldefazio/skill-configuration.git
[submodule "skill-installer"]
	path = skill-installer
	url = git@github.com:rafaeldefazio/skill-installer.git
[submodule "skill-naptime"]
	path = skill-naptime
	url = git@github.com:rafaeldefazio/skill-naptime.git
[submodule "skill-pairing"]
	path = skill-pairing
	url = git@github.com:rafaeldefazio/skill-pairing.git
[submodule "skill-playback-control"]
	path = skill-playback-control
	url = git@github.com:rafaeldefazio/skill-playback-control
[submodule "skill-speak"]
	path = skill-speak
	url = git@github.com:rafaeldefazio/skill-speak.git
[submodule "skill-stop"]
	path = skill-stop
	url = git@github.com:rafaeldefazio/skill-stop.git
[submodule "skill-volume"]
	path = skill-volume
	url = git@github.com:rafaeldefazio/skill-volume.git
